body {
  padding-top: 50px;
}

/* reusables */

.inline {
  display: inline-block;
}

.spaced {

}

.spaced-at-bottom {
  margin-bottom: 20px;
}

.spaced-at-bottom-l {
  margin-bottom: 30px;
}

.spaced-at-top {
  margin-top: 20px;
}

.spaced-at-top-l {
  margin-top: 30px;
}

.spaced-at-left {
  margin-left: 20px;
}

.spaced-at-left-l {
  margin-left: 30px;
}

.spaced-at-left-xl {
  margin-left: 40px;
}

.text-s {
  font-size: 12px;
}

.text-lightgrey {
  color: #AAA;
}

.sub-section {
  padding: 0 0 0 16px;
  margin: 0 0 40px;
}

.border-left {
  border-left: 3px solid #e7e9ec;
}

.separator-vertical {
  width: 2px;
  height: 15px;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.15);
}

/* fixes */

.bootstrap-switch {
  overflow: inherit;
}

.btn.btn-transparent {
  color: #aaaaaa;
  background-color: transparent;
}

.btn.btn-transparent:hover, .btn.btn-transparent:focus {
  color: rgba(0, 0, 0, 0.3);
}

.btn.btn-light {
  color: #34495E;
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-light:hover, .btn.btn-transparent:focus {
  color: rgba(0, 0, 0, 0.4);
}

.popover {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.popover .popover-title {
  font-size: 12px;
  line-height: 1.5;
  background-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.05);
  border-radius: 0;
}

.popover .popover-content {
  color: #888;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  line-height: 1.5;
}

.input-with-addon {
  position: relative;
}

.input-with-addon input {
  padding-right: 30px;
}

.input-with-addon .addon {
  position: absolute;
  top: 0;
  right: 0;
}

#editorLoadFromModelButton .fui-arrow-right* {
  position: relative;
  top: -2px;
}

#editorLoadFromModelButton .fui-arrow-right:before {
  font-size: 9px;
  color: #f1c40f;
}

/* column-left */

.column {
  padding: 40px 40px;
}

.event {
}

.event.event-inward {
  border-left: 3px solid  #2ECC71;
}

.event .latest-event {
  position: absolute;
  right: 10px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #27AE60;
}

/* column-right */

.editor textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
}

